





 @media (min-width: 1020px) {
    .nav-bar {
      display: none;
    }
  }


  @media (max-width: 900px) {
    .nav-bar {
      display: block;
    }
  }


  /* certificate for single line in 600px */

  @media (max-width:600px){
    .singleLine{
      display: flex;
      flex-direction: column;
    }
  }


  /* set fixed size of the card in certificate */
  